.nav{
    background-color: #1F2937;

}

.nav h1{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 140px ;
    line-height: 1.2;
    
}

.nav .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.links{
    margin-right: 200px;
    color: white;
    font-family: sans-serif;  
}



/* LINKS */

ul{
    display: flex;
    gap: 30px;
    
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #bdbec0;   
}



/* sign-up */

.sign-up{
    background-color:  #1F2937 ;
    height: 550px;
}

.container-signup{
    display: flex;
    flex-direction: column;

}

.sign-up .title{
    font-size: 48px;
    font-family: sans-serif;
    color: #F9FAF8;
    font-weight: 1000;
    margin-left: 140px;
    margin-top: 200px;
}

.sub-title{
    margin-left: 140px;
    margin-top: -45px;
    font-family: sans-serif;
    color: #bdbec0;
    font-size: 18px;

}

button{
    align-self: flex-start;
    margin-left: 140px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    
}

.signup-image{
    display:flex ;
    justify-content: flex-end;
    align-items: center;
    margin-right: 250px;
    margin-top: -220px;

}

.main-image{
    border: 2px solid gray;
    background-color: gray;
    height:200px;
    width: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    
}