.nav{
    background-color: #1F2937;

}

.nav h1{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 140px ;
    
}

.nav .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* LINKS */

ul{
    display: flex;
    list-style: none;
    

}

a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 9px;
}


/* sign-up */

.sign-up{
    background-color:  #1F2937 ;
    height: 550px;
}

.container-signup{
    display: flex;
    flex-direction: column;

}

.sign-up .title{
    font-size: 48px;
    font-family: sans-serif;
    color: #F9FAF8;
    font-weight: 1000;
    margin-left: 140px;
    margin-top: 200px;
}

.sub-title{
    margin-left: 140px;
    margin-top: -45px;
    font-family: sans-serif;
    color: #bdbec0;
    font-size: 18px;

}

button{
    align-self: flex-start;
    margin-left: 140px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    
}